.box{
	width: 978px;
	height: 600px;
	background: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 30px;
	box-sizing: border-box;
}

.box>div{
	width: 882px;
}

.uc-right-title{
	display: flex;
	align-items: baseline;
	padding: 12px 0 0 0;
}

.uc-right-title>h1{
	font-size: 30px;
	font-weight: 400;
	color: #757575;
}

.uc-right-title>a{
	font-size: 12px;
	margin-left: 10px;
}

.uc-right-more{
	height: 56px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 18px 0;
}

.more-left{
	display: flex;
	font-size: 16px;
	color: #333;
}

.more-left a{
	display: flex;
	color: #757575;
}

.more-left a>.line{
	padding: 0 20px;
	color:  #423b36;
}

.uc-right-more a>.text{
	transition: all 0.3s;
}

.uc-right-more a>.text:hover{
	color: #212121;
}

.uc-right-orderlist{
	width: 880px;
	border: 1px solid #FF6700;
}

.uc-right-orderlist>div{
	width: 100%;
	padding: 0 30px;
	box-sizing: border-box;
}

.orderlist-head{
	width: 100%;
	background: #fffaf7;
}

.orderlist-head>h2{
	font-size: 18px;
	color: #FF6700;
	padding-top: 25px;
}

.orderlist-head>div{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.orderlist-head div>p{
	display: flex;
	font-size: 12px;
	color: #757575;
	padding: 8px 0 24px 0;
	
}

.orderlist-head div p>i{
	padding: 0 5px;
}

.orderlist-head div p>a{
	transition: all 0.3s;
}

.orderlist-head div p>a:hover{
	color: #FF6700;
}

.orderlist-price{
	font-size: 26px;
}

.orderlist-bottom{
	width: 100%;
	display: flex;
	justify-content: space-around;
	border-top: 1px solid #FF6700;
}

.orderlist-bottom .bottom{
	width: 882px;
	height: 122px;
	margin-top:22px ;
	display: flex;
}
.orderlist-bottom .bottom img{
	width: 80px;
	height: 80px;
}
.orderlist-bottom .bottom img:hover{
	cursor: pointer;
}
.orderlist-bottom .bottom .wenzi-box{
	width: 410px;
	height: 80px;
}
.orderlist-bottom .bottom .wenzi-box .text1{
	color: #333;
	font-size: 16px;
	margin-left: 10px;
}
.orderlist-bottom .bottom .wenzi-box .text{
	margin-top: 20px;
}

.orderlist-bottom .bottom .anniu{
	width: 340px;
	height: 80px;
	float: right;
}
.orderlist-bottom .bottom .anniu>div{
	width: 118px;
	height: 32px;
	background: #2196F3;
	margin-left: 220px;
	text-align: center;
	line-height: 32px;
}
.orderlist-bottom .bottom .anniu .fk{
	background: #ff6700;
	color: white;
	border: 1px solid #ff6700;
}
.orderlist-bottom .bottom .anniu .fk:hover{
	cursor: pointer;
}
.orderlist-bottom .bottom .anniu .xq{
	margin-top: 8px;
	border: 1px solid #0e0e0e;
	background: white;
}
.orderlist-bottom .bottom .anniu .xq:hover{
	cursor: pointer;
	background: #757575;
	color: white;
}

.icon{
	width: 100%;
	height: 30px;
	font-size: 30px;
	text-align: center;
	display: flex;
	justify-content: center;
	padding-top: 40px;
}

.icon .icon-left,.icon-right{
	height: 100%;
	line-height: 30px;
	font-size: 16px;
	color: rgba(0,0,0,0.2);
}

.goods-num{
	width: 48px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #757575;
	font-size: 20px;
	margin: 0 14px;
}
