.head{
	width:100%;
	height:40px;
	background: #333;
	overflow: hidden;
}

.head-on{
	width: 1226px;
	height:100%;
	background: #333333;
	/* auto自适应居中 */
	margin:0px auto;  
}

.A-left{
	float: left;
	height:100%;
	background: #333333;
}

.A-left .text{
	float: left;
	height:100%;
	line-height: 40px;
	text-align: center;
	color: #85a4a4;
	font-size: 14px;
	transition: all 0.3s;
}

.A-left .text:hover{
	color: #FFFFFF;
}

.A-left .line{
	float: left;
	line-height: 40px;
	text-align: center;
	color: #423b36;
	margin: 0 8px;
}

.A-right{
	float: right;
	height:100%;
	background: #333333;
}

.R-text{
	float:left;
	height:100%;

}

.R-text .text{
	height:100%;
	line-height: 40px;
	text-align: center;
	float: left;
	color: #85a4a4;
	font-size: 14px;
	transition: all 0.3s;
}

.R-text .text:hover{
	color:#FFFFFF;
}

.R-text .line{
	float: left;
	text-align: center;
	line-height: 40px;
	color: #423b36;
	margin: 0 8px;
}

.R-car{
	height: 100%;
	background: #424242;
	float:right;
	margin-left:20px ;
}

.R-car .text{
	height:100%;
	line-height: 40px;
	text-align: center;
	color: #85a4a4;
	font-size: 14px;
}


.DH{
	width: 100%;
	height: 100px;
	background: #ffffff;
}

.DH-on{
	width: 1226px;
	height:100px;
	background: #fffffff;
	/* auto自适应居中 */
	margin:0px auto;  
}

.one{
	float: left;
	width: 55px;
	height: 55px;
    margin-top: 22.5px;
}

.one img{
    width: 100%;
	height: 100%;
}


.daohang{
	width:750px;
	height: 100%;
	margin-left:100px ;
	margin-top:22px;
	float: left;
}


.daohang div{
	float:left;
	text-align: center;
	line-height: 55px;
	font-size: 16px;
	color: #333333;
	margin: 0 12px;
}

.sousuo{
	width: 296px;
	height: 50px;
	float: right;
	border:1px solid #e0e0e0;
	margin-top: 25px;
	box-sizing: border-box;
}

.sousuo .text{
	height: 50px;
	width: 240px;
	float: left;
	position: relative;
}

.sousuo input{
	width: 220px;
	height: 46px;
	text-align: center;
	line-height:50px ;
	font-size: 14px;
	color: #ccc;
	border: none;
	outline: none;
	margin-top: 2px;
}

.sousuo-text-dw{
	height: 22px;
	position: absolute;
	right: 10px;
	top: 0;
	bottom: 0;
	margin: auto 0;
}

.sousuo-text-dw>span{
	height: 18px;
	font-size: 12px;
	color: #6c6c6c;
	background: #efefef;
	margin: 14px 4px;
}

.sousuo-1{
	width: 48px;
	height:48px;
	border-left:1px solid #E0E0E0;
	float:right;
	text-align: center;
}

#ssi{
	
	line-height: 50px;
	font-size: 20px;
}

/* 闪购开始 */
.shangou{
	width: 1226px;
	height: 438px;
	margin: 40px auto;
	background: #f5f5f5
}

.shangou .top{
	width: 100%;
	height: 58px;
}

.shangou .bottom{
	width: 100%;
	height: calc(100% - 58px);    
	/* calc为计算属性，运算符号左右空格必须有 */
}

.shangou-text{
	font-size: 22px;
	line-height: 58px;
	color:#333;
	float:left;
}

.shangou-icon{
	width: 71px;
	height: 24px;
	float: right;
	margin-top: 17px;
	box-sizing: border-box;
	border: 1px solid #e7e7e7;
}

.shangou-icon #a{
	width: 35px;
	height: 22px;
	font-size: 14px;
	line-height: 22px;
	text-align: center;
	float: left;
	color: #e9e9e9;
}

.shangou-icon #b{
	width: 33px;
	height: 22px;
	font-size: 14px;
	line-height: 22px;
	text-align: center;
	float: right;
	border-left: 1px solid #f1eded;
	color: #b5b5b5;
}

.bottom >.left{
	width:234px;
	height: 380px;
	float: left;
	background: #f1eded;
	margin-right: 14px;
	text-align: center;
}


.bottom-left-top{
	width: 100%;
	height: 2px;
	background: #ea5f5b;
}

.bottom-left-text1{
	width: 100%;
	height: 24px;
	font-size: 22px;
	color: #ef3d3e;
	margin-top: 60px;

}

.bottom-left-text1>span{
	font-weight: 500;
}

#shandian{
	width: 100px;
	height: 100px;
	font-size: 84px;
	margin-top: 20px;
	color: #e53934;
	margin-left:57px;
	
}

.bottom-left-text2{
	font-size: 14px;
	color: #858383;
	margin-top: 20px;
}

.bottom-left-time{
	width: 234px;
	height: 48px;
	margin-top: 30px;
	
}

.morder{
	margin-left: 35px;
}

.bottom-left-time div{
	float: left;
}

.bottom-left-time-min{
	width: 46px;
	height: 46px;
	background: #605751;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 46px;
}

.bottom-left-time-mh{
	width:14px ;
	height:46px ;
	font-size: 16px;
	color: #291e16;
	text-align: center;
	line-height: 46px;
	
}

.bottom .right{
	width: calc(234px*4+14px*3);
	height: 380px;
	float:left;
}

/* .bottom>.right>ul{
	width: calc(1000px * 3);
	height: 100%;
	overflow: hidden;
} */

#shangou-itm1{
	margin-left: 0px;
}

.bottom .right ul li{
	width: 234px;
	height: 380px;
	float: left;
	background:#fafafa;
	margin-left: 14px;
	text-align: center;
}

.top-line{
	width:100%;
	height: 2px;
	background: #ffbc41;
}

.ms{
	width: 66px;
	height: 22px;
	background: #e53935;
	font-size:15px ;
	color: #fad8d7;

}



.bottom>.right>ul>li>img{
	width:160px ;
	height: 160px;
	margin-top:23px;
	margin-left: 14px;
}

.PA,.PB,.PC{
	text-align: center;
	margin: 0 14px;
}

.PA{
	font-size: 18px;
	color: #050505;
	margin-top: 30px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.PB{
	font-size: 12px;
	color: #c6c6c6;
	margin-top: 6px;

}

.PC{
	margin-top: 20px;
}

.now{
	font-size: 16px;
	color: #fa853e;
}

.seem{
	font-size: 14px;
	color: #bbbbbb;
}

/* 闪购结束 */


/* 为你推荐 */

.tuijian{
	width: 1226px;
	height: 438px;
	margin: 20px auto;
	background: #f5f5f5
}

.tuijian-top{
	width: 100%;
	height: 58px;
}

.tuijian-bottom{
	width: 100%;
	height: calc(100% - 58px);  
}

.tuijian-text{
	font-size: 22px;
	line-height: 58px;
	color:#333;
	float:left;
}

.tuijian-icon{
	width: 71px;
	height: 24px;
	float: right;
	margin-top: 17px;
	box-sizing: border-box;
	border: 1px solid #e7e7e7;
}

.tuijian-icon #a{
	width: 35px;
	height: 22px;
	font-size: 14px;
	line-height: 22px;
	text-align: center;
	float: left;
	color: #e9e9e9;
}

.tuijian-icon #b{
	width: 33px;
	height: 22px;
	font-size: 14px;
	line-height: 22px;
	text-align: center;
	float: right;
	border-left: 1px solid #f1eded;
	color: #b0b0b0;
}

.tuijian-bottom ul{
	width: calc(1226*3);
	height:100% ;
	overflow: hidden;
}

.tuijian-bottom  img{
	width:160px ;
	height: 160px;
	margin-left: 37px;
	margin-top: 20px;
}

.tuijian-bottom  li{
	width: 234px;
	height: 380px;
	float: left;
	background:#fafafa;
	margin-left: 14px;
}


.p1,.p2,.p3{
	text-align: center;
}

.p1{
	font-size: 20px;
	color: #050505;
	margin: 40px 14px 0 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.p2{
	font-size: 16px;
	color: #fa853e;
	margin-top: 20px;
}

.p3{
	font-size: 14px;
	color: #bbbbbb;
	margin-top: 20px;
}

#pc1{
	margin-left: 0px;
}

/* 为你推荐结束 */


/* 热评产品 */

.hot{
	width: 1226px;
	height: 438px;
	margin: 40px auto;
	background: #f5f5f5
}

.hot-top{
	width: 100%;
	height: 58px;
}

.hot-bottom{
	width: 100%;
	height: calc(100% - 58px);  
}

.hot-text{
	font-size: 22px;
	line-height: 58px;
	color:#333;
	float:left;
}

.hot-bottom li{
	width: 296px;
	height: 380px;
	float: left;
	background:#fafafa;
	margin-left: 14px;
}

#hl1{
	margin-left: 0px;
}

.hot-bottom>li>img{
	width:296px ;
	height: auto;
}

.h1,.h2,#h3{
	margin-left:20px;
	margin-right: 20px;
}

.h1{
	font-size: 14px;
	color:#616161;
	margin-top: 15px;
}

.h2{
	font-size: 12px;
	color:#e4e4e4;
	margin-top: 15px;
}

#h3{
	margin-top: 8px;
	height: 16px;
}

#h3 div{
	float: left;
}

.h3-a{
	color: #888888;
	font-size: 16px;
}

.h3-b{
	color: #e1e1e1;
	margin: 0 8px;
}

.h3-c{
	color: #ff6b19;
	font-size: 16px;
}
/* 热评产品推荐 */


/* banner */
.banner{
    width:1226px;
	height: 460px;
	margin: 0 auto;
	position: relative;
}

.banner-img-box{
	width: 1226px ;
	height:460px ;
	background:yellow ;
	position: absolute;
	left: 0;
	bottom: 0;
}

.banner-left-box{
	width: 234px ;
	height:460px ;
	background:rgba(0,0,0,0.5) ;
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 25px 0;
	box-sizing: border-box;
}

/* .banner-left-box>ul{
	margin-left: 30px;
	margin-right: 24px;
}
 */
.banner-left-box>ul>li{
	width: 100%;
	height: 41px;
	line-height: 41px;
}

.banner-left-box>ul>li:hover{
	background: #ff6700;
}

.banner-left-box-right{
	width: calc(1226px - 234);
	height: 460px;
	background: #FFFFFF;
	position: absolute;
	left: 234px;
	top: 0px;
}

#banner-left-box-list-text{
	float: left;
	font-size: 15px;
	color: #ffffff;
	margin: 0 0 0 30px;
}

.banner-left-box-list-icon{
	float: right;
	color: #d2d4d6;
	font-size:14px;
	margin-right: 26px;
}

.banner-img-box>ul>li>img{
	width: 1226px;
	height: 460px;
	position: absolute;
	left: 0;
	bottom: 0;
}

.banner-point{
	width: 108px;
	height:12px;
	position: absolute;
	right: 34px;
	bottom: 0px;
}

.banner-point>div{
	float: right;
}

.banner-point>div>div{
	width: 10px;
	height: 10px;
	background: rgba(0,0,0,0.3);
	border-radius: 50%;
	border: 2px solid rgba(0,0,0,0.2);
	float: left;
	margin: 0 3px;
	box-sizing: border-box;
}

#active{
	background: rgba(255,255,255,0.8);
    border: 2px solid rgba(0,0,0,0.3);
}

.banner-icon{
	width: 41px;
	height: 69px;
	background: rgba(0,0,0,0.1);
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
}

.banner-icon-left{
	left: 234px;
	background-image: url(../img/icon.png);
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;

}


.banner-icon-right{
	right: 0;
	background-image: url(../img/icon.png);
	background-repeat: no-repeat;
	background-position: -41px 0;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	
}

/* banner结束 */

/* banner-2开始 */

.banner-2{
	width: 1226px;
	height: 170px;
	background: #ffffff;
	margin: 18px auto;
}

.banner-2>div{
	float: left;
	margin-left: 16px;
}

#banner-2-one{
	width: 234px;
	height: 100%;
	margin-left: 0;
	background: #5f5750;
}

.banner-2-two{
	width: calc(944px / 3);
	height: 100%;
	background-image: url(../img/banner-2-2.jpg);
	background-size: auto 170px;
}

.banner-2-three{
	width: calc(944px / 3);
	height: 100%;
	background-image: url(../img/banner-2-3.jpg);
	background-size: auto 170px;
}

.banner-2-four{
	width: calc(944px / 3);
	height: 100%;
	background-image: url(../img/banner-2-4.jpg);
	background-size: auto 170px;
}

#banner-2-one>ul{
	width:214px ;
	height: 150px;
	/* background: whitesmoke; */
	margin: 10px 10px 10px 10px;
}

#banner-2-one>ul>li{
	width:calc(214px / 3) ;
	height: calc(150px / 2);
	/* background: lightblue; */
	float: left;
	position: relative;
	text-align: center;
}

.banner-2-one-line-a{
	width: 1px;
	height: 70px;
	background:rgba(255,255,255,0.1);
	position: absolute;
	right: 0;
	top: 0;
	
}


.banner-2-one-line-b{
	width: 1px;
	height: 70px;
	background:rgba(255,255,255,0.1);
	position: absolute;
	right: 0;
	bottom: 0;
	
}
	
.banner-2-one-line{
	width: 64px;
	height: 1px;
	background:rgba(255,255,255,0.1);
	margin-bottom: 0px;
	position: absolute;
	left: 3px;
	bottom: 0px;
}

.banner-2-one-line-ep{
	width: 64px;
	height: 1px;
	background:rgba(255,255,255,0.1);
	margin-bottom: 0px;
	position: absolute;
	left: 3px;
	bottom: 0px;
	/* margin: 0 auto; */
}

.banner-2-one-line-F{
	width: 64px;
	height: 1px;
	background:rgba(255,255,255,0.1);
	margin-bottom: 0px;
	position: absolute;
	right: 3px;
	bottom: 0px;
	/* margin: 0 auto; */
}



#banner-2-one-icon{
	color: #dad9d7;
	font-size: 28px;
	text-align: center;
	margin-top: 10px;
}

.banner-2-one-text{
	color: #dad9d7;
	font-size:12px;
	
	
}
/* banner-2结束 */

.body{
	background: #f5f5f5;
}

.Advertisement{
	width: 1226px;
	height: 124px;
	margin: 20px auto;
}

.Advertisement>img{
	width: 100%;
	height: 100%;
}


/* 家电开始 */

.appliances{
	width: 1226px;
	height: 686px;
	margin:40px auto ;
}

.appliances-top{
	width: 100%;
	height:58px ;
}

.appliances-bottom{
	width: 100%;
	height: calc(1226px - 58);
}

.appliances-bottom>div{
	float: left;
}

.appliances-top-left{
	width: 200px;
	height:100%;
	float: left;
}

.appliances-top-left>h2{
	line-height: 58px;
}

.appliances-top-right{
	width:400px;
	height: 100%;
	float: right;
	/* line-height: 58px; */
}

.appliances-top-right>ul{
	height: 44px;
	float: right;
	box-sizing: border-box;
    padding-top: 20px;
}

.appliances-top-right>ul>li{
	font-size: 16px;
	/* padding-bottom: 8px; */
	margin-left: 30px;
	float: left;
	box-sizing: border-box;
	transition: all 0.05s;
}

.appliances-top-right>ul>li:hover{
	color: #ff6700;
	border-bottom: 2px solid #ff6700;
	padding-bottom: 3px;
	box-sizing: border-box;

}

.appliances-bottom>div{
	float: left;
}

.appliances-bottom-left{
	width: 248px;
	height: 614px;
}

.appliances-bottom-right{
	width: 978px;
	height: 614px;
}

.appliances-bottom-left>div{
	width: 234px;
	height: 300px;
}

.appliances-bottom-left-bottom{
	margin-top: 14px;
}

.appliances-bottom-left>div>img{
	width: 100%;
	height: 100%;
}

.appliances-bottom-right>ul{
	width: 978px;
	height: 614px;
}

.appliances-bottom-right>ul>li{
	width: 234px;
	height: 300px;
	float: left;
	margin-right: 14px;
    text-align: center;
	position: relative;
	overflow: hidden;
	transition: all 1s;
}

.appliances-bottom-right-top{
	margin-bottom: 14px;
}

.appliances-bottom-right>ul>.iteam{
	margin-right:0;
}
.appliances-bottom-right>ul>li>.picture{
	width: 100%;
	height: 150px;
	padding-top: 34px;
    text-align: center;
	margin-bottom: 8px;
}

.appliances-bottom-right>ul>li>.picture>img{
	width: auto;
	height: 150px;
}

.appliances-bottom-right>ul>li>p{
	margin: 3px 10px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;   
}

.appliances-bottom-right>ul>li>.text1{
	font-size: 14px;
	color:#484848;
}

.appliances-bottom-right>ul>li>.text2{
	font-size: 12px;
	color:#adadad;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;   
}

.appliances-bottom-right>ul>li>.price{
    margin-top: 18px;
}

.appliances-bottom-right>ul>li>div>.price-now{
	font-size: 14px;
	color:#ff722d;
	padding-right: 3px;
}

.appliances-bottom-right>ul>li>div>.price-no{
	font-size: 14px;
	color:#e1e1e1;
}

.appliances-bottom-right>ul>.puff{
	background-color: #FFFFFF;
	position: relative;
}


.iteam-bottom-1{
	width: 100%;
	height: 143px;
	margin-bottom: 14px;
	background-color: #FFFFFF;
}

.iteam-bottom-2{
	width: 100%;
	height: 143px;
	background-color: #FFFFFF;
}

.appliances-bottom-right>ul>.puff{
	transition: all 1s;
}

.flag-upward{
	transition: all 30s 5s;
}

.iteam-bottom-2>div{
	float: left;
	width: 94px;
	margin: 30px auto;
}

.iteam-bottom-2>.text{
	width: 94px;
	height: 45px;
	margin-left: 20px;
	padding-top:20px;
}

.iteam-bottom-2>.text>h3{
	margin-bottom: 8px;
	font-size: 18px;
}

.iteam-bottom-2>.text>p{
	width: 94px;
	height: 14px;
	font-size: 14px;
	color: #a2a2a2;
	margin-left: 0;
}

.iteam-bottom-2>.ico{
	color: #ff5a00;
	font-size: 48px;
	line-height: 94px;
}
/* 家电结束 */




/* 手机开始 */

.phone{
	width: 1226px;
	height: 686px;
	margin:40px auto ;
}

.phone-top{
	width: 100%;
	height:58px ;
}

.phone-top-left{
	width: 200px;
	height:100%;
	float: left;
}

.phone-top-left>h2{
	line-height: 58px;
}

.phone-bottom{
	width: 100%;
	height: calc(1226px - 58);
}

.phone-bottom>div{
	float: left;
}

.phone-top-right{
	width: 100px;
	float: right;	
	line-height: 58px;
	transition: all 0.5s;
}

.phone-top-right>span:hover{
	color: #ff5a00;
	
}

.phone-top-right>p:hover{
	color:#ff5a00 ;
	border-bottom: 3px solid #ff5a00;
}

.phone-top-right>p{
	font-size: 16px;
	margin-right: 8px;
	float: left;
	box-sizing: border-box;
}

.phone-top-right>span{
	font-size: 24px;
	float: right;
	color: #b0b0b0;
}

.phone-bottom>div{
	float: left;
}

.phone-bottom-left{
	width: 248px;
	height: 614px;
}

.phone-bottom-right{
	width: 978px;
	height: 614px;
}



.phone-bottom-left>img{
	width: 234px;
	height: auto;
}

.phone-bottom-right>ul{
	width: 978px;
	height: 614px;
}

.phone-bottom-right>ul>li{
	width: 234px;
	height: 300px;
	float: left;
	margin-right: 14px;
    text-align: center;
	position: relative;
	overflow: hidden;
	transition: all 1s;
}

.phone-bottom-right-top{
	margin-bottom: 14px;
}

.phone-bottom-right>ul>.iteam{
	margin-right:0;
}
.phone-bottom-right>ul>li>.picture{
	width: 100%;
	height: 150px;
	padding-top: 34px;
    text-align: center;
	margin-bottom: 8px;
}

.phone-bottom-right>ul>li>.picture>img{
	width: auto;
	height: 150px;
}

.phone-bottom-right>ul>li>p{
	margin: 3px 10px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;   
}

.phone-bottom-right>ul>li>.text1{
	font-size: 14px;
	color:#484848;
}

.phone-bottom-right>ul>li>.text2{
	font-size: 12px;
	color:#adadad;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;   
}

.phone-bottom-right>ul>li>.price{
    margin-top: 18px;
}

.phone-bottom-right>ul>li>div>.price-now{
	font-size: 14px;
	color:#ff722d;
	padding-right: 3px;
}

.phone-bottom-right>ul>li>div>.price-no{
	font-size: 14px;
	color:#e1e1e1;
}

.phone-bottom-right>ul>.puff{
	background-color: #FFFFFF;
}




/* 手机结束 */